
<div class="nav preload-transitions">
    <h3 class="nav-title">{{ site.data.l10n.menu }}</h3>
    <a href="#" class="nav-close" >
        {{ site.data.l10n.menu_close }}
    </a>
    <ul>
		<li class="nav-counter {% if page.url contains 'test' %} nav-current{% endif %} nav-subelement" role="presentation" >{{ site.data.l10n.menu_navigation }}
		<ul>
			{% if site.data.l10n.lang contains site.default_lang %}
				<li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="https://{{ site.url }}">{{ site.data.l10n.menu_home }}</a></li>
			{% else %}
				<li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="https://{{ site.url }}/{{site.data.l10n.lang}}">{{ site.data.l10n.menu_home }}</a></li>
			{% endif %} 
			<li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}/about">{{ site.data.l10n.menu_about }}</a></li>
			<li class="nav-test {% if page.url contains 'post' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}/tag/post">{{ site.data.l10n.menu_all_posts }}</a></li>
		</ul>
		</li>
        <li class="nav-counter {% if page.url contains 'test' %} nav-current{% endif %} nav-subelement" role="presentation">{{ site.data.l10n.menu_tags }}
			<ul>
				<li class="nav-test {% if page.url contains 'test' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}/tag/test">{{ site.data.l10n.menu_tags_test }}</a></li>
			</ul>
		</li>
		<li class="nav-counter {% if page.url contains 'test' %} nav-current{% endif %} nav-subelement" role="presentation">
		    <a class="subscribe-button icon-feed" href="{{ site.baseurl }}/feed.xml">{{ site.data.l10n.subscribe }}</a>
		</li>
    </ul>
</div>
