<!DOCTYPE html>
<html>
<head>
    <!-- Document Settings -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Page Meta -->
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.data.l10n.title }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />

    <!-- Mobile Meta -->
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Brand icon -->
    <link rel="shortcut icon" href="{{ 'assets/images/favicon.ico' | relative_url }}" >

    <!-- Styles'n'Scripts -->
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/screen.css' | relative_url }}" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/syntax.css' | relative_url }}" />

    <!-- Ghost outputs important style and meta data with this tag -->
    {% include head.html %}

</head>
<body class="{% if paginator.page > 1 %}paged archive-template{% elsif page.class %}{{ page.class }}{% else %}home-template{% endif %} nav-closed">
	
	<script>0</script>
    <div class="site-wrapper">

        <!-- All the main content gets inserted here, index.hbs, post.hbs, etc -->
        {{ content }}

    </div>

	<footer>
		<a href="#home-button"> {{ site.data.l10n.top }}</a> | 
		<a href="{{ site.baseurl }}/about">{{ site.data.l10n.menu_about }}</a>
	</footer>
	
    <!-- highlight.js -->

    <!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Ghost outputs important scripts and data with this tag -->
    <!-- {{ghost_foot}} -->
    <!-- The main JavaScript file for Casper -->
    <script type="text/javascript" src="{{ 'assets/js/index.js' | relative_url }}"></script>
	
	<script type="text/javascript">
	  document.addEventListener("DOMContentLoaded",function(){
		let node = document.querySelector('.preload-transitions');
		node.classList.remove('preload-transitions');
	  });
	</script>

</body>
</html>
